hr{
    color: #d27979;
}

body{
background-color: #d1e0e0;
}

a:visited{
    color: #3608b8;
}

h1{
    text-decoration: underline;
    text-align: center;
    color: #690505;
    font-size: 100px;
    background-color: antiquewhite;
    border-style: outset;
}

li{
    text-decoration-line: underline;
}

img{
    box-shadow: 8px 8px 10px 0 rgba(0,0,0,0.5);
    width: 150px;
}

*{
	margin-left: 10px;
	margin-right: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
